/**
 * custom
 * place custom style in this file
 * add !important to the end if no effect
 * e.g. color: #fff !important;
 * --------------------------------------------------
 *
 */


.dropdown-menu {
  position: absolute!important;
  top: 60%;
  right: 10!important;
  z-index: 1000!important;
  display: none;
  float: right!important;
  min-width: 160px inherit!important;
  padding: 5px 0!important;
  margin: 2px 0 0!important;
  font-size: 14px!important;
  text-align: left!important;
  list-style: none!important;
  background-color: #75797d!important;
  color: #fff!important;
  -webkit-background-clip: padding-box!important;
  background-clip: padding-box!important;
  border: 1px solid #ccc!important;
  border: 1px solid rgba(0, 0, 0, .15)!important;
  border-radius: 4px!important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175)!important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175)!important
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

* html .clearfix {
  height: 1%
}

.clearfix {
  display: block
}
hr {
    border: none;
    height:auto;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
