<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="site-footer__inner">
          <p class="site-footer__copyright"><a href="/" target="_blank">SKY DAT X</a> | All rights Reserved &copy; 2017</p>
          <ul class="site-footer__social">
            <li><a href="https://www.youtube.com/channel/UC2TTOQGCqsW8b098Pym_xWQ/videos" target="_blank"><i class="fa fa-youtube" ></i></a></li>
            <li><a href="#" target="_blank"><i href="#" class="fa fa-facebook" ></i></a></li>
            <li><a href="#" target="_blank"><i href="#" class="fa fa-twitter" ></i></a></li>
            <li><a href="#" target="_blank"><i href="#" class="fa fa-instagram" ></i></a></li>
            <li><a href="https://www.devbuiltlabs.com" style="font-family: 'Kaushan Script', cursive;" target="_blank">Powered by | Devbuilt Labs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
